@media screen and (max-width: 767px) {
  .weather {
    height: 100vh;
    margin-top: 0;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .weather {
    background-size: cover;
    width: 70vw;
  }
}
